.venv/
__pycache__/
*.pyc

.env

data/raw/
data/external/
data/geospatial/raster/
data/geospatial/dem/
outputs/

.ipynb_checkpoints/

*.tif
*.tiff
*.shp
*.shx
*.dbf
*.prj
*.cpg
*.gpkg
*.geojson
*.sqlite
*.db